In [2]:
%matplotlib inline

In [5]:
import pandas as pd

In [6]:
import matplotlib.pyplot as plt

In [7]:
import numpy as np

In [14]:
column_names = "buying, maint, doors, persons, lug_boot, safety".split(",")

In [15]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data", names = column_names, )

In [26]:
df[]

      buying  maint  doors  persons  lug_boot  safety
vhigh  vhigh      2      2    small       low   unacc
vhigh  vhigh      2      2    small       med   unacc
vhigh  vhigh      2      2    small      high   unacc
vhigh  vhigh      2      2      med       low   unacc
vhigh  vhigh      2      2      med       med   unacc